{:deps {prismatic/schema {:mvn/version "1.2.0"}
        org.danielsz/lang-utils {:mvn/version "0.1.4"}
        org.clojure/tools.namespace {:mvn/version "1.2.0"}
        io.aviso/pretty {:mvn/version "1.1.1"}
        com.stuartsierra/component {:mvn/version "1.1.0"}}}
