{:pom {:group-id "org.danielsz",
       :artifact-id "system",
       :version "0.4.8-SNAPSHOT",
       :name "system"},
 :build-properties {:project-build-sourceEncoding "UTF-8"},
 :packaging {:uberjar {:graalvm {:enabled false,
                                 :with-https false,
                                 :bin-name ""},
                       :include-source false,
                       :excludes {:artifacts ["org.clojure:google-closure-library"],
                                  :filters ["META-INF/*.MF"
                                            "META-INF/*.SF"
                                            "META-INF/*.DSA"
                                            "META-INF/*.RSA"]},
                       :appimage {:enabled false,
                                  :source "jpackage-target"},
                       :obfuscation {:enabled false},
                       :build-properties {:main-class "main.core",
                                          :javafx-class "main.core.App"},
                       :pre-compilation-script {:enabled false,
                                                :path "repl/pre-script.clj"},
                       :jpackage {:enabled false,
                                  :destination "jpackage-target"},
                       :javafx {:enabled false,
                                :commandline-args "-Dglass.gtk.uiScale=2.0",
                                :jlink-verbose "true",
                                :options [],
                                :gluon-client {:enabled false},
                                :jpro {:enabled false}},
                       :resources {:css {:enabled false,
                                         :css-source-include "**",
                                         :css-source-exclude "**/*.min.css",
                                         :css-final-file "styles.css",
                                         :web-app-source-dir "resources",
                                         :css-source-dir "css"},
                                   :cljs {:enabled false,
                                          :compiler-opts {:infer-externs true,
                                                          :optimizations :advanced,
                                                          :parallel-build true,
                                                          :verbose true,
                                                          :aot-cache true,
                                                          :output-to "js/main.js",
                                                          :output-wrapper true,
                                                          :foreign-libs [],
                                                          :main "main.core"},
                                          :tools-deps-alias :cljs},
                                   :images {:enabled false,
                                            :png {:dirs ["resources/images/logo"
                                                         "resources/images/testimonials"]},
                                            :jpeg {:dirs ["resources/images/logo"
                                                          "resources/images/testimonials"]}}},
                       :enabled false,
                       :post-compilation-script {:enabled false,
                                                 :path "repl/post-script.clj"}},
             :jar {:enabled true,
                   :gpg {:enabled true},
                   :sources {:enabled false}}},
 :testing {:enabled false, :tools-deps-alias :test},
 :scm {:enabled false},
 :interactive {:system {:enabled false,
                        :var "a.namespace/system-var",
                        :restart-on-change ["handler.clj"
                                            "system.clj"]},
               :figwheel {:enabled false,
                          :main {:watch-dirs ["src/cljs"],
                                 :open-url false},
                          :build {:main "main.core",
                                  :foreign-libs [],
                                  :output-dir "target/classes/js/compiled",
                                  :output-to "target/classes/js/main.js",
                                  :asset-path "/js/compiled",
                                  :output-wrapper true,
                                  :aot-cache true,
                                  :infer-externs true},
                          :tools-deps-alias :figwheel},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :tools-deps-alias :repl,
               :repl-host "127.0.0.1",
               :reload-on-save true,
               :repl-port :auto,
               :enabled false,
               :cljs {:enabled false,
                      :with-repl false,
                      :compiler-opts {:infer-externs true,
                                      :output-dir "target/classes/js/compiled",
                                      :optimizations :none,
                                      :parallel-build true,
                                      :verbose true,
                                      :aot-cache true,
                                      :output-to "target/classes/js/main.js",
                                      :asset-path "/js/compiled",
                                      :output-wrapper true,
                                      :watch "src/cljs",
                                      :source-map true,
                                      :foreign-libs [],
                                      :main "main.core"},
                      :tools-deps-alias :cljs}},
 :profiles {:enabled false}
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}}
